<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span>Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{image.name}}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{image.url}}</span>
                </dd>
                <dt><span>Recipe</span></dt>
                <dd>
                    <div *ngIf="image.recipe">
                        <a [routerLink]="['/recipe', image.recipe?.id, 'view']">{{image.recipe?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
