<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="author">
            <h2><span>Author</span> {{author.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="The firstname attribute.">Image Url</span></dt>
                <dd>
                    <span>{{author.imageUrl}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{author.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{author.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{author.email}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{author.phoneNumber}}</span>
                </dd>
                <dt><span>Created</span></dt>
                <dd>
                    <span>{{author.created}}</span>
                </dd>
                <dt><span>Last Active</span></dt>
                <dd>
                    <span>{{author.lastActive}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{author.password}}</span>
                </dd>
                <dt><span>Birthday</span></dt>
                <dd>
                    <span>{{author.birthday}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="author.user">
                        <a [routerLink]="['/location', author.user?.id, 'view']">{{author.user?.id}}</a>
                    </div>
                </dd>
                <dt><span>Role</span></dt>
                <dd>
                    <span *ngFor="let role of author.roles; let last = last">
                        <a [routerLink]="['/role', role?.id, 'view' ]">{{role.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/author', author.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
